body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #575454;
}

.navbar {
    background: #2c3e50;
    color: rgb(238, 238, 238);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    margin: 0;
    color: #e1e5e9;
}

.navbar nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav a.active {
    color: #1abc9c;
    text-decoration: underline;
}


.navbar nav a:hover {
    text-decoration: underline;
}

.dashboard-container {
    padding: 20px;
}

#indicadores {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    flex: 1 1 250px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
}

.card h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.card p {
    font-size: 32px;
    font-weight: bold;
    color: #3498db;
}


.notifications {
    margin-top: 30px;
}

.notifications h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.notifications ul {
    list-style: none;
    padding: 0;
}

.notifications li {
    background: #fff;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

footer {
    margin-top: 30px;
    text-align: center;
    color: #7f8c8d;
}